@model MVCLearning.Models.Movie   
@{
    ViewBag.Title = "Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Analytics</h2>

<h2>@Model.MovieName has the number of @Model.MovieId</h2>